<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>fbScopes</key>
		<string>email,user_location</string>
		<key>PRODUCTION_APP_KEY</key>
		<string></string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>YES</string>
		<key>baseURL</key>
		<string>http://in7seconds.com</string>
	</dict>
	<key>Distribution</key>
	<dict>
		<key>fbScopes</key>
		<string>email,user_location</string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>NO</string>
		<key>baseURL</key>
		<string>http://in7seconds.com</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>fbScopes</key>
		<string>email,user_location</string>
		<key>vkScopes</key>
		<string>friends,photos,status,wall,offline,notify</string>
		<key>baseURL</key>
		<string>http://in7secondsdev.com:3000</string>
	</dict>
</dict>
</plist>
