<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>PRODUCTION_APP_KEY</key>
		<string>acjij3jDR1mkLzdEfhAfnw</string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>YES</string>
		<key>PRODUCTION_APP_SECRET</key>
		<string>6qOMa1RxQ2C9bRGsoGhFtA</string>
		<key>DEVELOPMENT_APP_SECRET</key>
		<string>nRah8o9GT72gsMEhth98OQ</string>
		<key>DEVELOPMENT_APP_KEY</key>
		<string>t3YC1EwhSX2B-jl0XP2nvg</string>
		<key>vkScopes</key>
		<string>friends,photos,status,wall,offline,notify</string>
		<key>vkAppId</key>
		<string>3450705</string>
		<key>vkAppSecret</key>
		<string>nnBnyGrt4Y8MpmiAC4DA</string>
		<key>baseURL</key>
		<string>http://in7seconds.com</string>
	</dict>
	<key>Distribution</key>
	<dict>
		<key>PRODUCTION_APP_KEY</key>
		<string>acjij3jDR1mkLzdEfhAfnw</string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>NO</string>
		<key>PRODUCTION_APP_SECRET</key>
		<string>6qOMa1RxQ2C9bRGsoGhFtA</string>
		<key>DEVELOPMENT_APP_SECRET</key>
		<string>nRah8o9GT72gsMEhth98OQ</string>
		<key>DEVELOPMENT_APP_KEY</key>
		<string>t3YC1EwhSX2B-jl0XP2nvg</string>
		<key>vkScopes</key>
		<string>friends,photos,status,wall,offline,notify</string>
		<key>vkAppId</key>
		<string>3450705</string>
		<key>vkAppSecret</key>
		<string>nnBnyGrt4Y8MpmiAC4DA</string>
		<key>baseURL</key>
		<string>http://in7seconds.com</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>PRODUCTION_APP_KEY</key>
		<string>acjij3jDR1mkLzdEfhAfnw</string>
		<key>APP_STORE_OR_AD_HOC_BUILD</key>
		<string>NO</string>
		<key>PRODUCTION_APP_SECRET</key>
		<string>6qOMa1RxQ2C9bRGsoGhFtA</string>
		<key>DEVELOPMENT_APP_SECRET</key>
		<string>nRah8o9GT72gsMEhth98OQ</string>
		<key>DEVELOPMENT_APP_KEY</key>
		<string>t3YC1EwhSX2B-jl0XP2nvg</string>
		<key>vkScopes</key>
		<string>friends,photos,status,wall,offline,notify</string>
		<key>baseURL</key>
		<string>http://in7secondsdev.com:3000</string>
		<key>vkAppId</key>
		<string>3450705</string>
		<key>vkAppSecret</key>
		<string>nnBnyGrt4Y8MpmiAC4DA</string>
	</dict>
</dict>
</plist>
