.prt-social
  .p-s-ituneswrap
    %a.p-s-itunes{:href=>'https://itunes.apple.com/ru/app/piclar/id600568556?mt=8&uo=4', :target=>'itunes_store'}
      = image_tag('Available_on_the_App_Store_Badge_RU_135x40.png', :alt => 'In 7 Seconds')
  .p-s-likewrap
    #vk_like
  .p-s-sharewrap
    #vk_share
