.p-about.l-wrap
  %h2.p-a-header О&nbsp;нас

  %p 7&nbsp;Seconds это новый способ познакомиться с&nbsp;интересными людьми. Известно, что для того чтобы понять, нравится тебе человек или нет, достаточно всего 7&nbsp;секунд. Проверь это с&nbsp;нашим приложением!
