%section#l-content.p-error
  .p-e-bg-wrap
    .p-e-bg-container
      = image_tag('splash_error.jpg', :alt => 'You\'re lost, friend', :class => '.p-e-bg-img') 

  .p-e-content
    %h2 Упс.
    %strong Похоже, что такой страницы не существует&#133;

  = render :partial => 'layouts/footer'
