- content_for :html_classes do
  splash

.p-landing
  .p-l-bg-wrap
    .p-l-bg-container
      = image_tag('splash_landing.jpg', :alt => '7 Seconds', :class=> 'p-l-bg-img') 

  %a.p-l-logo 7 Seconds

  %h2.p-l-description Скоро на экранах ваших iPhone

  = render :partial => 'layouts/footer'
