@font-face {
  font-family: 'icowesome';
  src:url(asset-path('right_bar_filler.jpg', image)font_path('icowesome.eot'));
  src:url(font-path('icowesome.eot?#iefix')) format('embedded-opentype'),
    url(font-path('icowesome.woff')) format('woff'),
    url(font-path('icowesome.ttf')) format('truetype'),
    url(font-path('icowesome.svg#icowesome')) format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icowesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-bubbles:before, .icon-pacman:before, .icon-spinner:before, .icon-heart:before, .icon-fire:before {
  font-family: 'icowesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-bubbles:before {
  content: "\e000";
}
.icon-pacman:before {
  content: "\e001";
}
.icon-spinner:before {
  content: "\e002";
}
.icon-heart:before {
  content: "\e003";
}
.icon-fire:before {
  content: "\e004";
}
