@import 'include/mixins'

// button reset
button,
.button 
  margin: 0
  padding: 0
  
  overflow: visible
  
  border: none
  outline: none
  background: none
  
  box-shadow: none
  border-radius: 0

  @include noselect
  @include touch-callout(none)
  @include box-sizing(border-box)
  @include tap-highlight-color(transparent !important)

  cursor: pointer


// button styles
.button
  height: 30px
  padding: 0 15px

  display: inline-block
  position: relative

  font-size: 14px
  line-height: 30px
  color: #fff

  border-radius: 3px

  text-decoration: none
  text-align: center
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3)

  color: #fff

  &:before  // webkit drag while clicking fix
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
  
  &:hover 
    text-decoration: none
  
  &:active 
    top: 1px 

  // color styles
  &.blue
    background: #4e84e5
    border: 1px solid darken(#4e84e5, 30%)
    box-shadow: 0 2px 0 darken(#4e84e5, 40%)

    &:active
      background: darken(#4e84e5, 10%)
      box-shadow: 0 1px 0 darken(#4e84e5, 40%)

  &.green
    background: #38b224
    border: 1px solid darken(#38b224, 30%)
    box-shadow: 0 2px 0 darken(#38b224, 40%)

    &:active
      background: darken(#38b224, 10%)
      box-shadow: 0 1px 0 darken(#38b224, 40%)

  &.pink
    background: #ff005f
    border: 1px solid darken(#ff005f, 30%)
    box-shadow: 0 2px 0 darken(#ff005f, 40%)

    &:active
      background: darken(#ff005f, 10%)
      box-shadow: 0 1px 0 darken(#ff005f, 40%)
    
  &[disabled],
  &.disabled 
    &,
    &:active 
      opacity: .5

