%dl 
  %dt Users created yesterday
  %dd #{@total_users_yesterday}
  
  %dt Total users
  %dd #{@total_users}
  
  %dt Total ratings
  %dd= @toal_ratings
  
  %dt Total ratings yesterday
  %dd= @total_ratings_yesterday