Требуется всего 7 секунд для того чтобы понять, нравится тебе кто-то, или нет. И #{@params[:hookup].first_name} понял(а)!!! это за всего за 4 секунд!!!.

Не тормози и напиши #{@params[:hookup].first_name} прямо сейчас. Посмотри страницу #{@params[:hookup].first_name} на ВКонтакте: %url%!!!

С любовью,
7seconds
