%p 
  Требуется всего 7 секунд чтобы понять, нравится тебе кто-то, или нет. И 
  %a{:href=>('http://vk.com/')}= @params[:hookup].first_name
    - if !@params[:hookup].gender
      понял
    - else
      поняла
  это всего за 4 #{Russian.p(4, "секунда", "секунды", "секунд")}.

%p 
  %a{:href=>('http://vk.com/')}= @params[:hookup].first_name
  наверняка уже ждет от тебя сообщения, лучше напиши
  - if !@params[:hookup].gender
    ему
  - else
    ей
  прямо сейчас. Вот
  - if !@params[:hookup].gender
    его
  - else
    ее
  профиль на ВКонтакте: 
  %a{:href=>('http://vk.com/')}
    http://vk.com/#{@params[:hookup].vk_domain}

%p 
  С любовью,
  %br/
  7seconds
