%p Привет,

%p Возможно ты уже слышал, что 7 секунд достаточно, чтобы понять нравится тебе человек или нет… Теперь, ты можешь узнать это наверняка.

%p 7seconds позволяет искать людей поблизости, и анонимно выбирать для знакомства тех, кто тебе симпатичен.

%p Просто укажи, кто тебе нравится, если симпатия взаимна – мы соединим вас и поможем растопить лед.

%p
  С любовью,
  %br/
  7seconds