%p Привет,

Возможно ты уже слышал, что 7 секунд достаточно, чтобы понять нравится тебе человек или нет… Теперь, ты можешь узнать это наверняка.

7seconds позволяет искать людей поблизости, и анонимно выбирать для знакомства тех, кто тебе симпатичен.

Просто укажи, кто тебе нравится, если симпатия взаимна – мы соединим вас и поможем растопить лед.

С любовью,
7seconds