@import 'include/mixins'

$header_height = 50px
$footer_height = 40px

// Basics
html,
body
  height: 100%
  min-width: 960px

  background: #eee
  noselect plz

body, select, input, button, textarea 
  color: #333
  font: normal 12px Helvetica, Arial, sans-serif
  line-height: 1.4em

::selection 
  background: #3da1fe
  color: #fff
  text-shadow: none 

a:link 
  tap-highlight-color: rgba(0, 0, 0, 0)
  cursor: pointer !important
a:focus
  outline: none

a, a:active, a:visited 
  color: #3da1fe
  text-decoration: none
a:hover
  text-decoration: underline

.icon
  color: #3da1fe

.cf 
  &:before,
  &:after 
    content: ' '
    display: table
  
  &:after 
    clear: both

// fixing android2 terribleness
.android2 *
  text-shadow: none !important

// Layout
#l-wrap
  min-height: 100%
  height: auto !important
  margin: 0 auto $footer_height*-1

#l-footer,
#l-footer-push
  height: $footer_height

.l-block
  width: 960px
  margin: 0 auto

.l-h-content,
.l-f-content
  width: 960px
  margin: 0 auto
  
  cf plz

#l-header
  border-bottom: 1px solid #ddd
#l-footer
  border-top: 1px solid #ddd

.l-h-content
  height: $header_height

  .l-h-logo-wrap
    padding-top: 9px
    display: inline-block
    float: left

    &:hover
      text-decoration: none

  nav
    float: right
    text-align: right
    line-height: $header_height

  .l-h-link
    margin-left: 20px
    display: inline-block
    text-decoration: none

    &:hover
      text-decoration: underline

.l-f-content
  line-height: 40px

  .copy
    float: left
    i
      margin-left: 2px
      font-size: 10px

  nav
    float: right
    text-align: right

    .l-f-link
      margin-left: 20px
      display: inline-block
      text-decoration: none

      i
        margin-right: 2px
        font-size: 10px

      span:hover
        text-decoration: underline


