%p Привет, ENTER_NAME_HERE!

%p
  Для закрепления почты #{@resource.email} к твоему аккаунту осталось 

%p
  Для закрепления почты #{@resource.email} к твоему аккаунту осталось #{link_to 'пройти по ссылке', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)}.

