%footer#l-footer
  .l-f-content
    .copy
      In 7 Seconds &copy; 2013. Сделано с любовью
      %i.icon-heart.icon

    %nav
      %a.l-f-link{:href=>about_path}
        %i.icon-pacman
        %span О нас
